<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->


    <ion-tabs class="tabs-icon-top tabs-color-active-positive">

        <!-- Dashboard Tab -->
        <ion-tab title="设备" icon-off="ion-hammer" icon-on="ion-hammer" ui-sref="index.device">
            <ion-nav-view name="tab-device"></ion-nav-view>
        </ion-tab>

        <!-- Chats Tab -->
        <ion-tab title="广场" icon-off="ion-help-buoy" icon-on="ion-help-buoy" ui-sref="index.chats">
            <ion-nav-view name="tab-chats"></ion-nav-view>
        </ion-tab>

        <!-- Account Tab -->
        <ion-tab title="设置" icon-off="ion-gear-a" icon-on="ion-gear-a" ui-sref="index.about">
            <ion-nav-view name="tab-account"></ion-nav-view>
        </ion-tab>
    </ion-tabs>
