<ion-view view-title="设置">
    <ion-content>

        <ion-list>
            <ion-item>
                关闭推送
                <label class="toggle">
                    <input type="checkbox">
                    <div class="track">
                        <div class="handle"></div>
                    </div>
                </label>
            </ion-item>
            <ion-item>
                <i class="icon ion-home"></i>
                关于恩道斯
            </ion-item>
            <ion-item>
                <i class="icon ion-ios-telephone"></i>
                联系我们
            </ion-item>
            <ion-item>
                <i class="icon ion-wifi"></i>
                招贤纳士
            </ion-item>
            <ion-item>
                <i class="icon ion-card"></i>
                免责声明
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>